.about {
  padding: 60px 20px;
  background-color: #f0f0f5;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: left;  /* Left-align text as in books */
  max-width: 800px;
  margin: 10px auto; /* Keep text centered within its container */
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* Ensure the content is left-aligned */
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  display: block; /* Makes sure image is centered */
  margin-left: auto;
  margin-right: auto;
}
