/* Skills Section */
.skills {
  padding: 60px 50px;  /* Add vertical padding and smaller horizontal padding */
  background-color: #f0f0f5;
  color: #333;
}



.skills h2 {
  font-size: 2.5em;
  margin-bottom: 60px;
}


/* Category Filter */
.category-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 40px;  /* Horizontal padding reduced to avoid overflow */
  flex-wrap: wrap;  /* Allow buttons to wrap to the next line */
  gap: 12px;  /* Added gap between buttons */
}

.category-filter button {
  background-color: #e0e0e5;
  border: 1px solid #ccc;
  padding: 10px 22px;
  cursor: pointer;
  font-size: 1.0em;
  font-weight: 500;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 180px;  /* Set a max width for buttons to prevent overflow */
  white-space: nowrap;  /* Prevent button text from wrapping */
  color:black;
}

.category-filter button.active {
  background-color: #904f96;
  color: white;
  border-color: #904f96;
}

.category-filter button:hover {
  background-color: #d66fb4;
  transform: translateY(-2px);
  color: white;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 40px;
  justify-items: center;
  padding: 0 60px;  /* Horizontal padding added here */
  margin-top: 20px;
}

/* Skill Cards */
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
}

/* Icon */
.skill-card .icon {
  font-size: 3em;
  margin-bottom: 15px;
}

/* Skill name */
.skill-card p {
  font-size: 1.2em;
  font-weight: 500;
  color: #444;
  margin-top: 10px;
  text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills-grid {
    gap: 20px;
    padding: 0 20px; /* Padding reduced for smaller screens */
  }

  .skill-card {
    padding: 20px;
    max-width: 200px;
  }

  .category-filter button {
    padding: 10px 18px;
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .skills h2 {
    font-size: 2em;
  }

  .category-filter button {
    padding: 10px 15px;
    font-size: 0.95em;
  }
}
